# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/app/*~
/app/*.sw[mnpcod]
/app/.tmp
/app/*.tmp
/app/*.tmp.*
/app/UserInterfaceState.xcuserstate
/app/$RECYCLE.BIN/

/app/*.log
/app/log.txt


/app/.sourcemaps
/app/.versions
/app/coverage

# Ionic
/app/.ionic
/app/www
/app/android
/app/ios
/app/platforms
/app/plugins

# Compiled output
/app/dist
/app/tmp
/app/out-tsc
/app/bazel-out

# Node
/app/node_modules
/app/npm-debug.log
/app/yarn-error.log

# IDEs and editors
/app/.idea/
/app/.project
/app/.classpath
/app/.c9/
/app/*.launch
/app/.settings/
/app/*.sublime-project
/app/*.sublime-workspace

# Visual Studio Code
/app/.vscode/*
/app/!.vscode/settings.json
/app/!.vscode/tasks.json
/app/!.vscode/launch.json
/app/!.vscode/extensions.json
/app/.history/*


# Miscellaneous
/app/.angular
/app/.angular/cache
/app/.sass-cache/
/app/.nx
/app/.nx/cache
/app/connect.lock
/app/coverage
/app/libpeerconnection.log
/app/testem.log
/app/typings

# System files
/app/.DS_Store
/app/Thumbs.db

# Outros arquivos
/docs/DB MODEL.mwb.bak
