<ion-header>
	<ion-toolbar>
		<div class="text-center text-lg font-semibold">Seleção de Mês e Ano</div>
	</ion-toolbar>
</ion-header>

<div class="flex items-center justify-center">
	<ion-picker>
		<ion-picker-column [value]="data_selecionada.mes" (ionChange)="atualizarMes($event.detail.value)">
			<ion-picker-column-option *ngFor="let mes of meses" [value]="mes.id">{{ mes.titulo }}</ion-picker-column-option>
		</ion-picker-column>
		<ion-picker-column [value]="data_selecionada.ano" (ionChange)="atualizarAno($event.detail.value)">
			<ion-picker-column-option *ngFor="let ano of anos" [value]="ano">{{ ano }}</ion-picker-column-option>
		</ion-picker-column>
	</ion-picker>
</div>

<ion-footer>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button color="danger" (click)="fecharModal()">Voltar</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="confirmarSelecao()">Selecionar</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
