<ion-tabs mode="md">
	<ion-tab-bar slot="bottom" class="py-1">
		<ion-tab-button tab="calendario" href="calendario">
			<ion-icon aria-hidden="true" size="large" name="calendar-outline"></ion-icon>
			<ion-label>Calendário</ion-label>
		</ion-tab-button>

		<!-- <ion-tab-button tab="cronograma" href="cronograma">
			<ion-icon aria-hidden="true" size="large" name="hourglass-outline"></ion-icon>
			<ion-label>Cronograma</ion-label>
		</ion-tab-button> -->

		<!-- <ion-tab-button tab="tarefas" href="tarefas">
			<ion-icon aria-hidden="true" size="large" name="checkbox-outline"></ion-icon>
			<ion-label>Tarefas</ion-label>
		</ion-tab-button> -->

		<!-- <ion-tab-button tab="configuracao" href="configuracao">
			<ion-icon aria-hidden="true" size="large" name="settings-outline"></ion-icon>
			<ion-label>Configuração</ion-label>
		</ion-tab-button> -->
	</ion-tab-bar>
</ion-tabs>
