<ion-header>
	<ion-toolbar>
		<ion-title>Tarefas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="flex w-full flex-col p-2">
		<div class="ion-activatable ripple-parent rounded-rectangle">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon name="sunny-outline" />
			Hoje
		</div>
		<div class="ion-activatable ripple-parent rounded-rectangle mt-2">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon name="today-outline" />
			Planejado
		</div>
		<div class="ion-activatable ripple-parent rounded-rectangle mt-2">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon name="list-outline" />
			Tarefas
		</div>
	</div>
</ion-content>
