<ion-header>
	<ion-toolbar>
		<div class="mt-4 flex w-full items-center justify-center text-2xl font-bold">
			{{ meses[data_selecionada.getMonth()].simplificado.toLocaleUpperCase() }}<span *ngIf="hoje.getFullYear() !== data_selecionada.getFullYear()">/{{data_selecionada.getFullYear()}}</span>
		</div>
		<div class="flex w-full items-center justify-center px-2 pb-2 pt-4">
			<div *ngFor="let dia of semana[sem_comeca_segunda? 'segunda' :'domingo']" class="flex-1 text-center font-semibold {{ dia.simplificado === 'Dom' ? 'text-red-500' : null }}">{{ dia.simplificado }}</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="flex h-full w-full flex-col">
		<div class="flex h-full w-full flex-col items-center justify-center">
			<ng-container *ngFor="let semanas of mes">
				<div class="flex h-full w-full items-center justify-center border-t border-zinc-200 p-2 dark:border-zinc-700">
					<div *ngFor="let dia of semanas" class="h-full flex-1 flex-col flex text-center rounded-md border {{ diaSelecionado(dia) ? 'border-zinc-500 font-semibold' : 'border-white dark:border-black' }}" (click)="selecionarData(dia)">
						<div
							class="mt-1 px-1 mx-auto font-medium {{ !dia.atual ? dia.domingo ? 'text-red-300 dark:text-red-900' : 'text-zinc-400 dark:text-zinc-500' : dia.domingo ? 'text-red-500' : null }} {{ dia.hoje ? 'text-white dark:text-black bg-black font-semibold dark:bg-white rounded-md' : null }}">
							{{ dia.dia }}
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</ion-content>
