<ion-header>
	<ion-toolbar>
		<div class="relative mt-4 flex w-full items-center justify-center">
			<div id="select-month-year" class="text-2xl font-bold uppercase">
				{{ meses[datas_swiper[slide_atual].mes].simplificado }}<span *ngIf="data_simples_hoje.ano !== datas_swiper[slide_atual].ano">/{{ datas_swiper[slide_atual].ano }}</span>
			</div>

			<div class="absolute right-4 flex size-8 items-center justify-center" (click)="voltarHoje()">
				<div class="relative flex size-full items-center justify-center">
					<ion-icon class="size-full" name="calendar-clear-outline" />
					<div class="absolute top-2 font-semibold">{{ data_simples_hoje.dia }}</div>
				</div>
			</div>
		</div>
		<div class="flex w-full items-center justify-center px-2 pb-2 pt-4">
			<div *ngFor="let dia of dias_semana" class="flex-1 text-center font-semibold {{ dia.simplificado === 'Dom' ? 'text-red-500' : null }}">{{ dia.simplificado }}</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-modal id="modal-calendario-select-month-year" #modal trigger="select-month-year">
		<ng-template>
			<app-select-month-year (do_select)="selecionarMesAno($event)"></app-select-month-year>
		</ng-template>
	</ion-modal>

	<div class="flex size-full flex-col">
		<div class="flex size-full flex-col items-center justify-center">
			<swiper-container class="size-full" [slidesPerView]="1" loop="true">
				<swiper-slide *ngFor="let slide of slides_swiper" class="flex size-full flex-wrap px-2" style="padding-top: 1px">
					<div
						*ngFor="let dia of datas_swiper[slide].dias"
						class="card-dia flex flex-1 flex-col rounded-md text-center transition-all duration-300"
						[ngClass]="(dia.dia_semana === 0 ? 'dia-domingo' : 'dia-normal') + (dia.mes_atual && datas_swiper[slide].ano === this.data_selecionada.ano && datas_swiper[slide].mes === this.data_selecionada.mes && dia.dia === this.data_selecionada.dia ? ' dia-selecionado' : '') + (dia.mes_atual ? '' : ' opacity-35 dark:opacity-40')"
						(click)="selecionarData(dia, datas_swiper[slide])">
						<div
							class="mx-auto mt-1 px-1 font-medium"
							[ngClass]="dia.mes_atual && data_simples_hoje.dia === dia.dia && data_simples_hoje.mes === datas_swiper[slide].mes && data_simples_hoje.ano === datas_swiper[slide].ano ? 'dia-hoje' : null">
							{{ dia.dia }}
						</div>
					</div>
				</swiper-slide>
			</swiper-container>
		</div>
	</div>
</ion-content>
